body {
    background-color: black;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 7.5vmin;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#holder{
    display: grid;
    background-color: #ccc;
    position: relative;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    gap: var(--cell-gap);
    padding: var(--cell-gap);
}

.cell {
    background-color: #aaa;
    border-radius: 1vmin;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    animation: wow 220ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes wow {
    0% {
        opacity: .5;
        transform: scale(0);
    }
    
}